*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #464BC6;
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
   font-size: 20px;
  }
  
  nav {
    overflow: hidden;
    background-color: #F2EFFF;
  }
  
  nav a {
    text-align: right;
    color: black;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  }
  
  nav a:hover {
    background-color: #464BC6;
    color: white;
    text-decoration: none;
  }

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.timeline{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.timeline ul{
    list-style: none;
}

.timeline ul li{
    padding: 20px;
    background-color: #ABBCE1;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.timeline ul li a{
    text-decoration: none;
    color: inherit;
}

.timeline ul li:last-child{
    margin-bottom: 0;
}

.timeline-content h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}

.timeline-content p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

@media only screen and (min-width: 768px){
    .timeline::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #ABBCE1;
    }
    .timeline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30%);
        border-radius: 20px 0px 20px 20px;
    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30%);
        border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #ABBCE1;
        border-radius: 50%;
        top: 0;
    }
    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%, -50%);
        right: -30%;
    }
    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%, -50%);
        left: -30%;
    }
    .timeline ul li:hover::after{
        background-color:#464BC6;
    }
}