{% extends "layout.html" %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    
{% endblock head %}

{% block content %}
<section class="container">

    <div class="row">
    {% for sec in ccis %}
      <div class="{{ stylee }}">
        <div class="card">
          <img src="{{ url_for('static', filename= sec.img) }}" style="height:150px;margin-top:50px;" class="card-top-img">
          <div class="card-body">
            <h3 class="card-title">{{ sec.major }}</h3>
            <p>مستويات ومقررات التخصص</p>
            <a href="{{ sec.path }}" class="btn btn-outline-danger">المزيد</a>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
</section>
{% endblock content %}